# dependencies
/node_modules

# build output
/.next
/out
/dist

# environment variables
.env
.env.local
.env.development
.env.production

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next/cache
.cache
/public/sw.js
/public/workbox-*.js
/public/_next-pwa.js
public/sw.js.map
public/workbox-*.js.map
public/_next-pwa.js.map

# IDEs and text editors
/.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
